.box1{
  width: 100px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
  /* display: block; */
  /* objetos en columna */
  display: inline;
}

.box2{
  width: 100px;
  height: 100px;
  background-color: rgb(119, 13, 31);
  border: 1px solid black;
  /* objetos en linea */
  display: inline;
}

.box3{
  width: 100px;
  height: 100px;
  background-color: rgb(167, 128, 3);
  border: 1px solid black;
  display: block;
}

.container{
  position: static;

}