body {
  background-color: black;
}

img {
  position: absolute;
  top: 0;
  opacity: 0.6;
  width: 800px;
  transition: opacity 2s ease-in-out 0.9s, width 9s linear;
}

img:hover {
  opacity: 0.5;
  width: 1200px;
}